// 行元素
.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0.9rem;
  .label {
    font-size: 0.28rem;
    color: $title_color;
  }
  &.title {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 0.06rem;
      height: 0.32rem;
      border-radius: 0.035rem;
    }
    .label {
      font-size: 0.36rem;
      color: $title_color;
      font-weight: 500;
    }
  }
  .value {
    display: flex;
    position: relative;
    font-size: 0.28rem;
  }
}
